<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pages/nav-style.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pages/nav-style.css">
    <title>Document</title>
</head>
<body>
    {% include 'nav.html' %}

        <div class="bloco2">
            <h1>{{anime.nome}}</h1>
            <img src="{{anime.imagem_url}}" alt="{{anime.nome}}" class="img-align">
                <p id="text-align" style="display: inline-block;">{{anime.descricao2}}</p>
        </div>
        
   
</body>
</html>