<section id="contato">
<div class="align-text">
    <div class="aling1">
        <h2 id="Titulo">Contato:</h2>
        <p id="texto">Vem falar com a gente</p>
    </div>
    <div class="aling2">
        <img src="../static/img/tel.png" alt="">
        <p><a href="tel:293848394"></a>(55) 3848384583</p>
    </div>
    <div class="aling3">
        <img src="../static/img/mail.png" alt="">
        <p ><a class='email' href="suporte@suporte">suporte@suporte.com.br</a></p>
    </div>
</div>
    
</section>
<footer>

    <p>Desenvolvido por:<br>
    Everton,Hyago e Kauê</p>
    
</footer>